/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */
 
/* ESKlarheitBaumbergerStegmeier-Bold */
/* @font-face {
  font-family: 'ESKlarheitBaumbergerStegmeier-Bold';
  src: url('../fonts/ESKlarheitBaumbergerStegmeier-Bold.woff2') format('woff2'), url('../fonts/ESKlarheitBaumbergerStegmeier-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */

/* ESKlarheitBaumbergerStegmeier-Medium */
/* @font-face {
  font-family: 'ESKlarheitBaumbergerStegmeier-Medium';
  src: url('../fonts/ESKlarheitBaumbergerStegmeier-Medium.woff2') format('woff2'), url('../fonts/ESKlarheitBaumbergerStegmeier-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} */

/* ESKlarheitBaumbergerStegmeier-Regular */
@font-face {
  font-family: 'ESKlarheitBaumbergerStegmeier-Regular';
  src: url('../fonts/ESKlarheitBaumbergerStegmeier-Regular.woff2') format('woff2'), url('../fonts/ESKlarheitBaumbergerStegmeier-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ESKlarheitBaumbergerStegmeier-Semibold */
/* @font-face {
  font-family: 'ESKlarheitBaumbergerStegmeier-Semibold';
  src: url('../fonts/ESKlarheitBaumbergerStegmeier-Semibold.woff2') format('woff2'), url('../fonts/ESKlarheitBaumbergerStegmeier-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */
